@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    @apply outline-blue-500;
    transition: 0.3s;
}
a:focus {
    outline: none;
    @apply focus:text-blue-500;
}
.tag {
    @apply whitespace-nowrap py-[5px] px-[10px] bg-gray-200 text-gray-500 rounded-md;
}

.text-wrap {
    text-wrap: wrap;
}
@media (min-width: 768px) {
    .md\:right-Listing {
        width: calc(100% - 320px);
    }
}
